/*===================================== 
YOU CAN WRIGHT CUSTOME CSS 
======================================*/
.loader {
    width: 50px;
    aspect-ratio: 1;
    background: url('../images/loaders/loader-2.png') no-repeat center center;
    background-size: cover;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  


    
.blogs-list .blog-post {
    transition: transform 0.3s ease !important;
    }
    .blog-post:hover {
    transform: scale(1.05); 
    }


    .carrer-details ul li {
      list-style: none !important;
    }


    .center-card-img{
      background-image: url(../images/circle-logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 350px;
    }

    .carrer-details li {
      font-size:18px;
    }

    .hexagons-section{
      /* background-image: url(../images/banner/water-bg.png) !important; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    

.service-card .blog-post .post-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
  
/* .service-card .blog-post .mt-post-text p {
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
} */