/*===================================== 
YOU CAN WRIGHT CUSTOME CSS 
======================================*/
.loader {
    width: 50px;
    aspect-ratio: 1;
    background: url('../images/loaders/loader-2.png') no-repeat center center;
    background-size: cover;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  


    
  .blog-post {
    transition: transform 0.3s ease !important;
    }
    
    .blog-post:hover {
    transform: scale(1.05); 
    background-color: red;
    }


    .carrer-details ul li {
      list-style: none !important;
    }
/* 
    .box-1{
      position: absolute;
      top: -10%;
      left: 20%;
    } */

    .center-card-img{
      background-image: url(../images/logo-dark.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 350px;
    }