{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} about {% endblock title %}
{% block content %}

<div class="page-content">

    <!-- Inner Banner -->
    <div class="mt-bnr-inr overlay-wraper ripples-sec"
        style="background-image:url({% static  'assets/images/about/about-busy-shipping-port.jpg' %});">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="mt-bnr-inr-entry">
                <h1 class="text-white">About</h1>
                <!-- Breadcrumb -->
                <ul class="mt-breadcrumb breadcrumb-style-1">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li>About</li>
                </ul>

            </div>
        </div>
    </div>

    <!-- Our Mission -->
    <div class="section-full  p-t80 p-b50">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="mt-box m-b30">
                        <div class="mt-thum-bx mt-img-effect">
                            <img src="/static/assets/images/about/agile-marina.png" alt="agile-marina">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="mt-box sx-what-wedo">
                        <span
                            class="site-text-primary display-block title-second text-uppercase font-20 font-weight-600 display-block m-b15">What
                            we do</span>
                        <h2 class="m-t0">Our mision is best in The Transport!</h2>
                        <p>At Agile Marine Consultancy, we offer a comprehensive range of specialized services designed
                            to meet the diverse needs of the maritime industry. Our team of seasoned professionals
                            brings a wealth of experience and expertise in various areas, ensuring that we deliver
                            innovative solutions and expert consultancy services tailored to each client's unique
                            requirements.</p>
                        <!-- <a href="#" class="site-button">Read more</a> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Our Mission -->

    <!-- Why Choose us -->
    <div class="section-full p-t80 p-b50 bg-gray">
        <div class="container">
            <!-- TITLE START-->
            <div class="section-head text-center">
                <h2 data-title="Choose us">Why Choose Us </h2>
                <div class="mt-separator-outer">
                    <div class="mt-separator site-bg-primary"></div>
                </div>
            </div>
            <!-- TITLE END-->
            <div class="section-content">

                <div class="row">
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-icon-box-wraper  p-a30 hover-border-outer hover-border bg-white m-b30 ">
                            <div class="text-center radius m-b15 m-auto">
                                <span class="site-text-primary"><i class="flaticon-people-1"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 text-center">Naval Architecture</h4>
                                <p class="text-justify">Naval architecture is the engineering discipline concerned with
                                    the design, construction, maintenance, and operation of marine vessels and
                                    structures. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-icon-box-wraper   p-a30  hover-border-outer hover-border bg-white m-b30">
                            <div class="text-center radius m-b15">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-pencil"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 text-center">Green Services</h4>
                                <p class="text-justify">Green services refer to a range of practices and offerings
                                    designed to reduce environmental impact and promote sustainability.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-icon-box-wraper  p-a30 hover-border-outer hover-border bg-white m-b30">
                            <div class="text-center radius m-b15">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-wallet"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 text-center">On-Site Services</h4>
                                <p class="text-justify">
                                    On-site services refer to a variety of support and operational activities performed
                                    directly at a client's location or a specific site, rather than remotely or
                                    off-site. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-icon-box-wraper  p-a30 hover-border-outer hover-border bg-white m-b30">
                            <div class="text-center radius m-b15">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-solution"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 text-center">Conversions & Retrofits</h4>
                                <p class="text-justify">Conversions and retrofits refer to processes that modify
                                    existing systems, structures, or equipment to improve functionality, efficiency, or
                                    compliance with new standards.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-icon-box-wraper   p-a30  hover-border-outer hover-border bg-white m-b30">
                            <div class="text-center radius m-b15">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-time-passing"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 text-center">Offshore Engineering</h4>
                                <p class="text-justify">Offshore engineers address challenges such as harsh weather
                                    conditions, deep-water operations, and environmental protection to ensure the
                                    safety, efficiency, and sustainability of offshore projects.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-icon-box-wraper  p-a30  hover-border-outer hover-border bg-white m-b30">
                            <div class="text-center radius m-b15">
                                <span class="icon-cell  site-text-primary"><i
                                        class="flaticon-customer-service"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 text-center">Transportation & Installation</h4>
                                <p class="text-justify">Transportation and installation (T&I) refer to the processes
                                    involved in moving and setting up large structures, equipment, or components,
                                    particularly in industries such as construction, offshore engineering, and energy
                                    production.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--our vission misssion -->
    <div class="section-full  p-t80 p-b50">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="mt-icon-box-wraper bx-style-1 p-a30 center site-bg-white ">
                        <img src="{% static 'assets/images/about/2.png' %}" alt="">
                        <div class="icon-content">
                            <h4 class="mt-tilte">OUR <span>MISSION</span></h4>
                            <p class="text-justify">Agile Marine Consultancy is dedicated to providing innovative and
                                specialized maritime solutions, leveraging our team's extensive experience and expertise
                                to meet the unique needs of each client.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="mt-icon-box-wraper bx-style-1 p-a30 center site-bg-white ">
                        <img src="{% static 'assets/images/about/1.png' %}" alt="">
                        <div class="icon-content">
                            <h4 class="mt-tilte">OUR <span>VISION</span></h4>
                            <p class="text-justify">Agile Marine Consultancy envisions being a leader in the maritime
                                industry, recognized for delivering cutting-edge solutions and expert consultancy that
                                drive innovation and excellence in maritime operations.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="mt-icon-box-wraper bx-style-1 p-a30 center site-bg-white ">
                        <img src="{% static 'assets/images/about/3.png' %}" alt="">
                        <div class="icon-content">
                            <h4 class="mt-tilte">OUR <span>VALUES</span></h4>
                            <p class="text-justify">Agile Marine Consultancy, our values are centered on innovation,
                                quality, and client-focused service. We are dedicated to pushing the boundaries of
                                maritime solutions with cutting-edge technology and expertise. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section-full bg-gray">
        <div class="container">
            <!-- Carousel -->
            <div class="section-content">
                <div class="owl-carousel client-logo-carousel owl-btn-vertical-center owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-1674px, 0px, 0px); transition: all 0.25s ease 0s;">
                            <div class="owl-item cloned">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo1.png' %}"
                                                    alt="no image found"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo2.png' %}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo3.png' %}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo4.png' %}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 189.2px;">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo5.png' %}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo1.png' %}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo2.png' %}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo mt-img-effect on-color">
                                            <a href="#"><img src="{% static 'assets/images/client-logo/logo3.png' %}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev"><i
                                class="fa fa-chevron-left"></i></button>
                        <button type="button" role="presentation" class="owl-next"><i
                                class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Video Section -->
    <div class="section-full  about-video p-t130 p-b80 overlay-wraper" data-stellar-background-ratio="0.5"
        style="background-image:url(images/background/bg7.jpg);">
        <div class="overlay-main bg-secondry  opacity-09"></div>
        <div class="container text-center ">
            <div class="text-white help-section">
                <h2 class="m-b30">Quality never goes out of style.</h2>
                <h4 class="m-b30"><strong>We take pride in serving our customers safely. We are hear to help you
                        out.</strong></h4>
                <a href="#" class="site-button">Contact Us</a>
            </div>
        </div>
    </div>



</div>

{% endblock %}