{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} about us {% endblock title %}
{% block content %}
     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center sub-page-ali shadow dark text-light bg-cover" style="background-image: url(../../static/assets/img/about/sub-page.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>About Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-us-area overflow-hidden default-padding">
        <div class="container">
            <div class="about-items">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                            <div class="experience">
                                <h2>26</h2>
                                <h4>Years Experiences</h4>
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-6 info">
                        <h2>Delivering Excellence  <br> in Maritime Solutions</h2>
                        <blockquote>
                            Navigate Maritime Challenges with Agile Marine Consultancy 
                        </blockquote>
                        <p>
                            At Agile Marine Consultancy, we provide cutting-edge maritime consulting services to empower your business. From project management and technical consultancy to sustainable solutions, we transform challenges into opportunities. Partner with us and move your operations forward with confidence.  
                        </p>
                        <div class="bottom-info">
                            <div class="button">
                                <a data-animation="animated zoomInUp" class="btn btn-theme primary effect btn-md" href="contact.html">Contact Us</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->
      <!-- Star vision&mission Area 
    ============================================= -->
    <div class="pricing-area shadow default-padding-bottom bottom-less mt-5">
        <!-- Fixed Shape -->
        <div class="fixed-sahpe-bottom">
            <img src="{% static 'assets/img/shape/19.png' %}" alt="Shape">
        </div>
        <!-- End Fixed Shape -->
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Cleaning Plans</h4>
                        <h2>Take a look of our Pricing and <br> select Your Choice</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="pricing pricing-simple">
                <div class="row">
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <div class="price">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/about/1.png' %}" alt="Thumb">
                                    <span>02</span>
                                </div>
                                <div class="pricing-header">
                                    <h4>OUR MISSION</h4>
                                </div>
                            </div>
                            <P>Empowering maritime industries through innovative solutions and expert guidance. We aim to enhance safety, sustainability, and efficiency globally, one project at a time</P>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <div class="price">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/about/2.png' %}" alt="Thumb">
                                    <span>02</span>
                                </div>
                                <div class="pricing-header">
                                    <h4>OUR VISSION</h4>
                                </div>
                            </div>
                            <P class="text-justify">To be the leading force in shaping the future of marine industries worldwide by pioneering innovative solutions, fostering sustainable practices, and setting new standards of excellence</P>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <div class="price">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/about/3.png' %}" alt="Thumb">
                                    <span>02</span>
                                </div>
                                <div class="pricing-header">
                                    <h4>OUR VALUES</h4>
                                </div>
                            </div>
                            <P>We value excellence through high-quality services, integrity with transparency and trust, innovative solutions, prioritized safety and sustainability, and a client-first approach to ensure your success.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End vision&mission Area -->

    <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area bg-theme text-light">

        <div class="container">
            <div class="fun-fact-items text-center default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="1267" data-speed="5000">1267</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Orders</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="846" data-speed="5000">846</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Trusted Clients</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="36" data-speed="5000">36</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Years Of Experience</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url({% static 'assets/img/shape/29.png' %});"></div>
        <!-- Fixed BG -->
    </div>
    <!-- End Fun Factor Area -->

    <!-- Start Process Area
    ============================================= -->
    <div class="work-process-area shadow-less text-center default-padding">
        <!-- Shape -->
        <div class="shape">
            <img src="{% static 'assets/img/shape/13.png' %}" alt="Shape">
        </div>
        <!-- End Shape -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Work Process</h4>
                        <h2>How it Works</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="process-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>01</span>
                            </div>
                            <h5>Book Online Form</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>02</span>
                            </div>
                            <h5>Get expert cleaner</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>03</span>
                            </div>
                            <h5>Relax & enjoy cleanin</h5>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Process Area -->
      <!-- Start Team 
    ============================================= -->
    <div class="team-area default-padding-top bottom-less mb-5 stack-holders">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>awesome team</h4>
                        <h2>The best team to <br> clean your surrounding area.</h2>
                        <!-- <div class="devider"></div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id tenetur temporibus, distinctio iste recusandae magni provident nam fuga perferendis molestiae et hic non expedita eos velit maxime libero quos? Et.
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="team-style-one-box">
                <div class="row d-flex justify-content-center">
                    <div class="gallery">
                        <div class="hexagon" style="background-color: #FF6347;">
                            <div class="p-2">
                                <h4>Flags&GovernmentEntitties</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, beatae!</p>
                            </div>
                        </div>
                        <div class="hexagon" style="background-color: #f5f5f5;"><img
                                src="{% static 'assets/images/logo-dark.png' %}" alt=""></div>
                        <div class="hexagon" style="background-color: #abeb4b;">
                            <div class="p-2">
                                <h4>Commercial Owners</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, beatae!</p>
                            </div>
                        </div>
                        <div class="hexagon hex-4" style="background-color: #40E0D0;">
                            <div class="p-2">
                                <h4>Classification Societies</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, beatae!</p>
                            </div>
                        </div>
                        <div class="hexagon hex-5" style="background-color: #1E90FF;">
                            <div class="p-2">
                                <h4>Private Owners</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, beatae!</p>
                            </div>
                        </div>
                        <div class="hexagon" style="background-color: #9370DB;">
                            <div class="p-2">
                                <h4>Shipping Agents</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, beatae!</p>
                            </div>
                        </div>
                        <div class="hexagon" style="background-color: #FF69B4;">
                            <div class="p-2">
                                <h4>Shipyards</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, beatae!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team-->



      <!-- Start Testimonials Area 
    ============================================= -->
    <div class="testimonials-area carousel-shadow relative half-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Testimonials</h4>
                        <h2>What’s Client’s Say About Us</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="testimonial-items">
                <div class="row mb-5">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="testimonial-carousel owl-carousel owl-theme">
                            <!-- Signle Item -->
                            <div class="item">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote.png' %}" alt="Quote">
                                    <p>
                                        Friendly bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection. Everything melancholy uncommonly but solicitude inhabiting projection. discourse assurance estimable applauded to points.
                                    </p>
                                    <div class="provider">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <h5>Mulias Prosva</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- End Signle Item -->
                            <!-- Signle Item -->
                            <div class="item">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote.png' %}" alt="Quote">
                                    <p>
                                        Best bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection. Everything melancholy uncommonly but solicitude inhabiting projection. discourse assurance estimable applauded to points.
                                    </p>
                                    <div class="provider">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <h5>Mulias Prosva</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- End Signle Item -->
                            <!-- Signle Item -->
                            <div class="item">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote.png' %}" alt="Quote">
                                    <p>
                                        Best bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection. Everything melancholy uncommonly but solicitude inhabiting projection. discourse assurance estimable applauded to points.
                                    </p>
                                    <div class="provider">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <h5>Mulias Prosva</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- End Signle Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Area  -->
    {% endblock %}