{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} about {% endblock title %}
{% block content %}

<div class="page-content">
        
    <!-- Inner Banner -->
    <div class="mt-bnr-inr overlay-wraper" style="background-image:url({% static  'assets/images/banner/about-banner.jpg' %});">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="mt-bnr-inr-entry">
                <h1 class="text-white">About</h1>
                <!-- Breadcrumb -->                            
                <ul class="mt-breadcrumb breadcrumb-style-1">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li>About</li>
                </ul>
                
            </div>
        </div>
    </div>
    
    <!-- Our Mission -->
    <div class="section-full  p-t80 p-b50">
        <div class="container">
                
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="mt-box m-b30">
                            <div class="mt-thum-bx mt-img-effect">
                                <img src="{% static  'assets/images/gallery/pic4.jpg' %}" alt="">
                            </div>
                        </div>                                                               
                    </div> 
                                                 
                    <div class="col-lg-6 col-md-12">
                        <div class="mt-box sx-what-wedo">
                            <span class="site-text-primary display-block title-second text-uppercase font-20 font-weight-600 display-block m-b15">What we do</span>
                            <h2 class="m-t0">Our mision is best in The Transport!</h2>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                             type and scrambled it to make a type specimen book.</p>
                            <a href="#" class="site-button">Read more</a>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>      
  
    <!-- Why Choose us -->
    <div class="section-full bg-gray p-t80  p-b50">
        <div class="container">
               
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <!-- TITLE START-->
                        <div class="section-head text-left">
                            <h2>Why Choose us</h2>
                            <div class="mt-separator-outer">
                                <div class="mt-separator site-bg-primary"></div>
                            </div>                        
                        </div>
                        <!-- TITLE END-->                            
                        <div class="section-content sx-why-choose">
                            <div class="mt-box">
                                <div class="mt-info bg-white text-left p-a20 m-b30">
                                    <h4>Fast Worldwide delivery</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet odio id lectus tristique luctus. Morbi id sodales orcit.</p>
                                    <a href="#" class="site-button-link site-text-primary font-weight-600">Read More</a>
                                 </div>
                            </div>
                            <div class="mt-box m-b30">
                                <div class="mt-info bg-white text-left p-a20">
                                    <h4>Safety &amp; Compliance</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet odio id lectus tristique luctus. Morbi id sodales orcit.</p>
                                    <a href="#" class="site-button-link site-text-primary font-weight-600">Read More</a>
                                 </div>
                            </div>                                    
                        </div>                               
                    </div>                        
                    <div class="col-lg-6 col-md-12">
                        <!-- TITLE START-->
                        <div class="section-head text-left">
                            <h2>Our Skills</h2>
                            <div class="mt-separator-outer">
                                <div class="mt-separator site-bg-primary"></div>
                            </div>                        
                        </div>
                        <!-- TITLE END-->                             
                        <div class="section-content  clearfix ">
                            <div class="p-b0">
                                <div class="mt-box">
                                    <h2 class="m-t0"><span class="site-text-primary"> 25 years</span> of experience in Logistics services</h2>
                                </div>                                    
                                <div class="our-exp">
                                                                   
                                    <span class="progressText text-black"><b>Ground Transport</b></span>
                                    <div class="progress m-b30 m-t10">
                                      <div class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                    </div>                                            
                                    
                                    
                                    <span class="progressText text-black"><b>Cargo</b></span>
                                    <div class="progress m-b30 m-t10">
                                      <div class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black" role="progressbar" style="width: 78%;" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">78%</div>
                                    </div>
        
                                    <span class="progressText text-black"><b>Logistic Services</b></span>
                                    <div class="progress m-b30 m-t10">
                                      <div class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                    </div>

                                    <span class="progressText text-black"><b>Warehousing</b></span>
                                    <div class="progress m-b30 m-t10">
                                      <div class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                    </div>
                                   
                            
                                </div>

                            </div>  
                            
                            
                        </div>
                    </div>                        
                </div>
            
        </div>
    </div>
                
     <!-- Our Services -->
    <div class="section-full bg-change-section overlay-wraper p-t80 p-b50">
        <div class="overlay-main bg-secondry opacity-09"></div>
        <div class="bg-changer">
            <div class="section-bg" style="background-image:url({% static  'assets/images/background/bg1.jpg' %})"></div>
            <div class="section-bg" style="background-image:url({% static  'assets/images/background/bg2.jpg' %})"></div>
            <div class="section-bg" style="background-image:url({% static  'assets/images/background/bg3.jpg' %})"></div> 
            <div class="section-bg" style="background-image:url({% static  'assets/images/background/bg4.jpg' %})"></div>
            <div class="section-bg active" style="background-image:url({% static  'assets/images/background/bg5.jpg' %})"></div> 
            <div class="section-bg" style="background-image:url({% static  'assets/images/background/bg6.jpg' %})"></div>                     
        </div>
        <div class="container">
            <!-- TITLE START-->
            <div class="section-head text-center text-white">
                <h2 data-title="Services">Our Services </h2>
                <div class="mt-separator-outer">
                    <div class="mt-separator site-bg-primary"></div>
                </div>                        
            </div>
            <!-- TITLE END-->
            <div class="section-content">                
                <div class="row d-flex justify-content-center">
                   
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-icon-box-wraper center  p-a30 bgcall-block  bdr-1 bdr-solid bdr-primary hover-shadow">
                            <div class="mt-icon-box-sm radius bdr-2 bdr-solid bdr-white m-b20">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-transport-4"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 site-text-primary">Cargo Transportation</h4>
                                <p class="text-white">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  m-b30">
                        <div class="mt-icon-box-wraper  center  p-a30 bgcall-block  bdr-1 bdr-solid bdr-primary  hover-shadow">
                            <div class="mt-icon-box-sm radius bdr-2 bdr-solid bdr-white m-b20">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-truck"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 site-text-primary">Ground Shipping</h4>
                                <p class="text-white">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6   m-b30">
                        <div class="mt-icon-box-wraper center p-a30 bgcall-block  bdr-1 bdr-solid bdr-primary hover-shadow ">
                            <div class="mt-icon-box-sm radius bdr-2 bdr-solid bdr-white m-b20">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-airplane"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 site-text-primary">Air Freight</h4>
                                <p class="text-white">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6  m-b30">
                        <div class="mt-icon-box-wraper center  p-a30 bgcall-block  bdr-1 bdr-solid bdr-primary hover-shadow ">
                            <div class="mt-icon-box-sm radius bdr-2 bdr-solid bdr-white m-b20">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-ship-1"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 site-text-primary">Ocean Freight</h4>
                                <p class="text-white">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6    m-b30">
                        <div class="mt-icon-box-wraper center  p-a30 bgcall-block  bdr-1 bdr-solid bdr-primary hover-shadow">
                            <div class="mt-icon-box-sm radius bdr-2 bdr-solid bdr-white m-b20">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-forklift-1"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 site-text-primary">Packaging &amp; Storage</h4>
                                <p class="text-white">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6   m-b30">
                        <div class="mt-icon-box-wraper center p-a30 bgcall-block  bdr-1 bdr-solid bdr-primary hover-shadow">
                            <div class="mt-icon-box-sm radius bdr-2 bdr-solid bdr-white m-b20">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-transport-6"></i></span>
                            </div>
                            <div class="icon-content">
                                <h4 class="mt-tilte  m-b15 site-text-primary">Road Freight</h4>
                                <p class="text-white">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra.</p>
                            </div>
                        </div>
                    </div>                                            
                
                </div>
            </div>
        </div>
    </div>
     
    <!-- Our Team -->
    <div class="section-full text-center mt-our-team bg-gray p-t80 p-b50">
        <div class="container">
        
            <!-- TITLE START-->
            <div class="section-head text-center">
                <h2 data-title="Team">Best team</h2>
                <div class="mt-separator-outer">
                    <div class="mt-separator site-bg-primary"></div>
                </div>                        
            </div>
            <!-- TITLE END-->
            
            <div class="section-content">
                <div class="row d-flex justify-content-center">
                
                    <!-- Block 1 -->
                    <div class="col-lg-4 col-md-6  m-b30">
                        <div class="mt-team-seven ">
                            <div class="mt-team-media mt-img-effect off-color bg-white">
                                <a href="javascript:void(0);"><img src="{% static  'assets/images/our-team5/p1.jpg' %}" class="" alt=""></a>
                            </div>
                            <div class="mt-team-info text-center p-a30 bg-white">
                                <h4 class="mt-team-title m-t0 m-b15"><a href="javascript:void(0);" class=" site-text-primary">Susan Black</a></h4>
                                <p>SEO Founder</p>
                                <div class="social-share-btn-content team-one-show-hide">
                                    <ul class="social-icons social-square">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block 2 -->
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-team-seven ">
                            <div class="mt-team-media mt-img-effect off-color bg-white">
                                <a href="javascript:void(0);"><img src="{% static  'assets/images/our-team5/p2.jpg' %}" alt=""></a>
                            </div>
                            <div class="mt-team-info text-center p-a30 bg-white">
                                <h4 class="mt-team-title m-t0 m-b15"><a href="javascript:void(0);" class=" site-text-primary">Joe Johnson </a></h4>
                                <p>Co-Founder</p>
                                <div class="social-share-btn-content team-one-show-hide">
                                    <ul class="social-icons social-square">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                            
                    <!-- Block 3 -->
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="mt-team-seven ">
                            <div class="mt-team-media mt-img-effect off-color bg-white">
                                <a href="javascript:void(0);"><img src="{% static  'assets/images/our-team5/p3.jpg' %}" alt=""></a>
                            </div>
                            <div class="mt-team-info text-center p-a30 bg-white">
                                <h4 class="mt-team-title m-t0 m-b15"><a href="javascript:void(0);" class=" site-text-primary">May Horton</a></h4>
                                <p>Marketer</p>
                                <div class="social-share-btn-content team-one-show-hide">
                                    <ul class="social-icons social-square">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        
        </div>
    </div>


     <!--Video Section -->
    <div class="section-full  about-video p-t130 p-b80 overlay-wraper" data-stellar-background-ratio="0.5" style="background-image:url(images/background/bg7.jpg);">
        <div class="overlay-main bg-secondry  opacity-09"></div>
        <div class="container text-center ">
            <a href="https://player.vimeo.com/video/66491481" class="mfp-video play-now">
                <i class="icon fa fa-play"></i>
                <span class="ripple"></span>
            </a>
             <div class="text-white help-section">   
                <h2 class="m-b30">Quality never goes out of style.</h2>
                <h4 class="m-b30"><strong>We take pride in serving our customers safely. We are hear to help you out.</strong></h4>
                <a href="#" class="site-button">Contact Us</a>
            </div>
        </div>
    </div>
   
    <!-- OUR PLANS  -->
    <div class="section-full text-center mt-our-team bg-gray p-t80 p-b50">
        <div class="container">
        
            <!-- TITLE START-->
            <div class="section-head text-center">
                <h2 data-title="Our Plan">Our Plans</h2>
                <div class="mt-separator-outer">
                    <div class="mt-separator site-bg-primary"></div>
                </div>                        
            </div>
            <!-- TITLE END-->
            
            <div class="section-content">
                <div class="pricingtable-row">
                    <div class="row d-flex justify-content-center">
                    
                        <div class="col-lg-4 col-md-6  m-b30">
                            <div class="pricingtable-wrapper pricing-table-style-5 pricing-table-shadow">
                                <div class="pricingtable-inner bg-gray">
                                    <div class="pricingtable-price">
                                        <span class="pricingtable-bx">$29</span>
                                        <span class="pricingtable-type">Month</span>
                                    </div>
                                    <div class="pricingtable-title">
                                        <h3>Basic</h3>
                                    </div>
                                    <ul class="pricingtable-features text-black bg-gray">
                                        <li>Per Mile</li>
                                        <li>6000 kg load</li>
                                        <li>850 kg / pallet </li>
                                        <li>Warehousing </li>
                                        <li>Free Packaging </li>
                                        <li>24/7 support </li>
                                    </ul>
                                    <div class="pricingtable-footer">
                                        <a href="javascript:void(0);" class="site-button text-uppercase">Order Now</a>
                                    </div>
                                    <div class="overlay-main bg-white opacity-07"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 m-b30">
                            <div class="pricingtable-wrapper  pricing-table-style-5 pricing-table-shadow">
                                <div class="pricingtable-inner bg-gray">
                                    <div class="pricingtable-price">
                                        <span class="pricingtable-bx">$49</span>
                                        <span class="pricingtable-type">Month</span>
                                    </div>
                                    <div class="pricingtable-title">
                                        <h3>Pro</h3>
                                    </div>
                                    <ul class="pricingtable-features text-black bg-gray">
                                        <li>Per Mile</li>
                                        <li>6000 kg load</li>
                                        <li>850 kg / pallet </li>
                                        <li>Warehousing </li>
                                        <li>Free Packaging </li>
                                        <li>24/7 support </li>
                                    </ul>
                                    <div class="pricingtable-footer">
                                        <a href="javascript:void(0);" class="site-button text-uppercase">Order Now</a>
                                    </div>
                                    <div class="overlay-main bg-white opacity-07"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 m-b30">
                            <div class="pricingtable-wrapper  pricing-table-style-5 pricing-table-shadow">
                                <div class="pricingtable-inner bg-gray">
                                    <div class="pricingtable-price">
                                        <span class="pricingtable-bx">$99</span>
                                        <span class="pricingtable-type">Month</span>
                                    </div>
                                    <div class="pricingtable-title">
                                        <h3>Premium</h3>
                                    </div>
                                    <ul class="pricingtable-features text-black bg-gray">
                                        <li>Per Mile</li>
                                        <li>6000 kg load</li>
                                        <li>850 kg / pallet </li>
                                        <li>Warehousing </li>
                                        <li>Free Packaging </li>
                                        <li>24/7 support </li>
                                    </ul>
                                    <div class="pricingtable-footer">
                                        <a href="javascript:void(0);" class="site-button text-uppercase">Order Now</a>
                                    </div>
                                    <div class="overlay-main bg-white opacity-07"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        
        </div>
    </div>
                       
</div>

{% endblock %}