{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cleanu - Cleaning Services Template">

    <!-- ========== Page Title ========== -->
    <title> {% block title %}{% endblock %} | Agil Marian </title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/elegant-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/about.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    {% block stylesheets %}{% endblock stylesheets %}
    <!-- ========== End Stylesheet ========== -->

</head>

<body>

    <!-- Preloader Start -->
    <!-- <div class="se-pre-con"></div> -->
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <!-- <div class="top-bar-area inc-pad bg-theme text-light inc-shape">
        <div class="container-full">
            <div class="row align-center">
                <div class="col-lg-8 info">
                    <ul>
                        <li>
                            <i class="fas fa-envelope-open-text"></i> Info@gmail.com
                        </li>
                        <li>
                            <i class="fas fa-clock"></i> Working Hours: 8:00 AM – 7:45 PM
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 text-right item-flex">
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky dark bootsnav">

            <div class="container-full">

                <div class="row align-center">


                    <!-- Start Header Navigation -->
                    <div class="col-lg-3 brand-item">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="index.html">
                                <img src="{% static 'assets/img/updated-logo.png' %}" class="logo" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="col-lg-6">
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav" data-in="#" data-out="#">
                                <li><a href="/" class="active">Home</a></li>
                                <li><a href="/about-us/">About us</a></li> 
                                <li class="dropdown">
                                    <a href="/services/" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">service1</a></li>
                                        <li><a href="">services2</a></li>
                                    </ul>
                                </li>
                                <li><a href="/news-articles/">News & Articles</a></li>
                                <li><a href="/contact-us/">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.navbar-collapse -->

                    <!-- Start Atribute Navigation -->
                    <div class="col-lg-3">
                        <div class="attr-nav">
                            <div class="call">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/phone-call.png' %}" alt="Phone">
                                </div>
                                <div class="info">
                                    <span>Have any question?</span>
                                    <h5>(012) 66795453</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Atribute Navigation -->

                </div>

            </div>
        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->
    <!-- main content  -->
    {% block content %}
    {% endblock %}
    <!-- main content end  -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-theme text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item about">
                            <img src="{% static 'assets/img/updated-logo.png' %}" alt="Logo">
                            <p>
                                Agile Marine Consultancy brings the expertise and tailored solutions needed to address the dynamic challenges of the marine industry.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Quick Links</h4>
                            <ul>
                                <li>
                                    <a href="index.html"><i class="fas fa-angle-right"></i> Home</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i>About us</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Services</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Blogs</a>
                                </li>
                               
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i>Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 item  services-footer">
                        <div class="f-item link">
                            <h4 class="widget-title">Services</h4>
                            <ul>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Project 
                                        Management </a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Naval 
                                        Architecture</a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Surveying & 
                                        Inspections</a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Ship Design & 
                                        Optimization
                                        </a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Modification 
                                        & Repairs</a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Ballast Water 
                                        Treatment & 
                                        Retrofits
                                        </a>
                                </li>
                            </ul>
                           
                        </div>
                        <div class="f-item link mt-lg-5 mt-3">
                          
                            <ul>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Production 
                                        Drawings </a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> 3D Twins of 
                                        Ships & Rigs</a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Green 
                                        Technology & 
                                        Sustainable 
                                        Shipping</a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i>All Regulatory 
                                        Compliance 
                                        Documentation
                                        </a>
                                </li>
                                <li>
                                    <a href="services-details.html"><i class="fas fa-angle-right"></i> Modification 
                                        & Repairs</a>
                                </li>
                               
                            </ul>
                           
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item contact-widget">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        5919 Trussville Crossings Pkwy, new Dusting town, Austria
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-clock"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Opening Hours:</strong>
                                            8:00 AM – 7:45 PM
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Phone:</strong>
                                            <a href="tel:2151234567">+123 34598768</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>&copy; Copyright 2024. All Rights Reserved by <a >Agile Marine Consultancy</a></p>
                        </div>
                        <div class="col-lg-6 text-right link">
                            <ul>
                                <li>
                                    <a href="#">Designed by</a>
                                </li>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
        <!-- Fixed Shape -->
        <div class="fixed-shape-left">
            <img src="{% static 'assets/img/shape/5.png' %}" alt="Shape">
        </div>
        <!-- End Fixed Shape -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/count-to.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.event.move.js' %}"></script>
    <script src="{% static 'assets/js/jquery.twentytwenty.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>

    {% block javascripts %}
    <script>
        $(".ripples-sec").ripples({
            resolution: 256,
            perturbance: 0.01,
        });
    </script>
    {% endblock javascripts %}

</body>

</html>