{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} blog details | Collecting Various Types plans {% endblock title %}
{% block content %}
<div class="page-content">
        
    <!-- Inner Banner --> 
    <div class="mt-bnr-inr overlay-wraper" style="background-image:url(images/banner/blog-banner.jpg);">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="mt-bnr-inr-entry">
                <h1 class="text-white">Blog Grid</h1>
                <!-- Breadcrumb -->                            
                <ul class="mt-breadcrumb breadcrumb-style-1">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li>Blog details</li>
                </ul>
          
            </div>
        </div>
    </div>
             
    <!-- Blog Grid -->
    <div class="section-full p-t80 p-b50">
        <div class="container">
           
                <div class="portfolio-wrap mt-blog-grid-3 row" style="position: relative; height: 1139.19px;">
                    <!-- Block 1 --> 
                    <div class="post masonry-item col-lg-4 col-md-6 col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 0px;">
                        <div class="blog-post blog-grid date-style-2 bdr-1 bdr-solid bdr-gray-light">
                            <div class="mt-post-media">
                                <a href="javascript:void(0);"><img src="images/blog/grid/pic1.jpg" alt=""></a>
                            </div>
                            <div class="mt-post-info p-a30 p-m30">
                                <div class="mt-post-meta bdr-1 bdr-solid bdr-b-1 bdr-gray-light p-b20">
                                    <ul>
                                      <li class="post-date"> <i class="fa fa-calendar site-text-primary"></i><strong>08</strong> <span>Dec 2022</span> </li>
                                      <li class="post-author"><i class="fa fa-user site-text-primary"></i><a href="javascript:void(0);">By <span>Robin</span></a> </li>
                                      <li class="post-comment"><i class="fa fa-comments site-text-primary"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                   </ul>
                                </div>                                    
                                <div class="mt-post-title ">
                                    <h3 class="post-title"><a href="javascript:void(0);">Special handling. extra service</a></h3>
                                </div>

                                <div class="mt-post-text">
                                    <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam.</p> 
                                </div>
                                <div class="mt-post-readmore m-b0">
                                     <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block 2 -->
                    <div class="post masonry-item col-lg-4 col-md-6 col-sm-6 col-xs-12" style="position: absolute; left: 389.99px; top: 0px;">
                        <div class="blog-post blog-grid date-style-2 bdr-1 bdr-solid bdr-gray-light">
                            <div class="mt-post-media">
                                <a href="javascript:void(0);"><img src="images/blog/grid/pic2.jpg" alt=""></a>
                            </div>
                            <div class="mt-post-info p-a30 p-m30">
                                <div class="mt-post-meta bdr-1 bdr-solid bdr-b-1 bdr-gray-light p-b20">
                                    <ul>
                                      <li class="post-date"> <i class="fa fa-calendar site-text-primary"></i><strong>12</strong> <span>Nov 2022</span> </li>
                                      <li class="post-author"><i class="fa fa-user site-text-primary"></i><a href="javascript:void(0);">By <span>Robin</span></a> </li>
                                      <li class="post-comment"><i class="fa fa-comments site-text-primary"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                   </ul>
                                </div>                                    
                                <div class="mt-post-title ">
                                    <h3 class="post-title"><a href="javascript:void(0);">Booking our passage to the.</a></h3>
                                </div>

                                <div class="mt-post-text">
                                    <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam.</p> 
                                </div>
                                <div class="mt-post-readmore m-b0">
                                     <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block 3 -->
                    <div class="post masonry-item col-lg-4 col-md-6 col-sm-6 col-xs-12" style="position: absolute; left: 779.98px; top: 0px;">
                        <div class="blog-post blog-grid date-style-2 bdr-1 bdr-solid bdr-gray-light">
                            <div class="mt-post-media">
                                <a href="javascript:void(0);"><img src="images/blog/grid/pic3.jpg" alt=""></a>
                            </div>
                            <div class="mt-post-info p-a30 p-m30">
                                <div class="mt-post-meta bdr-1 bdr-solid bdr-b-1 bdr-gray-light p-b20">
                                    <ul>
                                      <li class="post-date"> <i class="fa fa-calendar site-text-primary"></i><strong>14</strong> <span>Dec 2022</span> </li>
                                      <li class="post-author"><i class="fa fa-user site-text-primary"></i><a href="javascript:void(0);">By <span>Robin</span></a> </li>
                                      <li class="post-comment"><i class="fa fa-comments site-text-primary"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                   </ul>
                                </div>                                 
                                <div class="mt-post-title ">
                                    <h3 class="post-title"><a href="javascript:void(0);">Possibility in every direction</a></h3>
                                </div>

                                <div class="mt-post-text">
                                    <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam.</p> 
                                </div>
                                <div class="mt-post-readmore m-b0">
                                     <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block 4 -->
                    <div class="post masonry-item col-lg-4 col-md-6 col-sm-6 col-xs-12" style="position: absolute; left: 0px; top: 569.594px;">
                        <div class="blog-post blog-grid date-style-2 bdr-1 bdr-solid bdr-gray-light">
                            <div class="mt-post-media">
                                <a href="javascript:void(0);"><img src="images/blog/grid/pic4.jpg" alt=""></a>
                            </div>
                            <div class="mt-post-info p-a30 p-m30">
                                <div class="mt-post-meta bdr-1 bdr-solid bdr-b-1 bdr-gray-light p-b20">
                                    <ul>
                                      <li class="post-date"> <i class="fa fa-calendar site-text-primary"></i><strong>16</strong> <span>Dec 2022</span> </li>
                                      <li class="post-author"><i class="fa fa-user site-text-primary"></i><a href="javascript:void(0);">By <span>Robin</span></a> </li>
                                      <li class="post-comment"><i class="fa fa-comments site-text-primary"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                   </ul>
                                </div>                                  
                                <div class="mt-post-title ">
                                    <h3 class="post-title"><a href="javascript:void(0);">Fueling your logistic chain.</a></h3>
                                </div>

                                <div class="mt-post-text">
                                    <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam.</p> 
                                </div>
                                <div class="mt-post-readmore m-b0">
                                     <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block 5 -->
                    <div class="post masonry-item col-lg-4 col-md-6 col-sm-6 col-xs-12" style="position: absolute; left: 389.99px; top: 569.594px;">
                        <div class="blog-post blog-grid date-style-2 bdr-1 bdr-solid bdr-gray-light">
                            <div class="mt-post-media">
                                <a href="javascript:void(0);"><img src="images/blog/grid/pic5.jpg" alt=""></a>
                            </div>
                            <div class="mt-post-info p-a30 p-m30">
                                <div class="mt-post-meta bdr-1 bdr-solid bdr-b-1 bdr-gray-light p-b20">
                                    <ul>
                                      <li class="post-date"> <i class="fa fa-calendar site-text-primary"></i><strong>18</strong> <span>Dec 2022</span> </li>
                                      <li class="post-author"><i class="fa fa-user site-text-primary"></i><a href="javascript:void(0);">By <span>Robin</span></a> </li>
                                      <li class="post-comment"><i class="fa fa-comments site-text-primary"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                   </ul>
                                </div>                                    
                                <div class="mt-post-title ">
                                    <h3 class="post-title"><a href="javascript:void(0);">Booking our passage to the.</a></h3>
                                </div>

                                <div class="mt-post-text">
                                    <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam.</p> 
                                </div>
                                <div class="mt-post-readmore m-b0">
                                     <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <!-- Block 6 -->
                    <div class="post masonry-item col-lg-4 col-md-6 col-sm-6 col-xs-12" style="position: absolute; left: 779.98px; top: 569.594px;">
                        <div class="blog-post blog-grid date-style-2 bdr-1 bdr-solid bdr-gray-light">
                            
                            <div class="mt-post-media">
                                <a href="javascript:void(0);"><img src="images/blog/grid/pic6.jpg" alt=""></a>
                            </div>
                            <div class="mt-post-info p-a30 p-m30">
                                <div class="mt-post-meta bdr-1 bdr-solid bdr-b-1 bdr-gray-light p-b20">
                                    <ul>
                                      <li class="post-date"> <i class="fa fa-calendar site-text-primary"></i><strong>20</strong> <span>Dec 2022</span> </li>
                                      <li class="post-author"><i class="fa fa-user site-text-primary"></i><a href="javascript:void(0);">By <span>Robin</span></a> </li>
                                      <li class="post-comment"><i class="fa fa-comments site-text-primary"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                   </ul>
                                </div>                                     
                                <div class="mt-post-title ">
                                    <h3 class="post-title"><a href="javascript:void(0);">Special handling. extra service</a></h3>
                                </div>
                                <div class="mt-post-text">
                                    <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam.</p> 
                                </div>
                                <div class="mt-post-readmore m-b0">
                                     <a href="javascript:void(0);" title="READ MORE" rel="bookmark" class="site-button-link">Read More</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Pagination -->
                <div class="pagination-bx col-lg-12 clearfix ">
                    <ul class="pagination">
                       <li><a href="#">«</a></li>
                       <li class="active"><a href="#">1</a></li>
                       <li><a href="#">2</a></li>
                       <li><a href="#">3</a></li>
                       <li><a href="#">4</a></li>
                       <li><a href="#">5</a></li>
                       <li><a href="#">»</a></li>
                    </ul>
                </div>
                
            </div>
       
    </div>

</div>


{% endblock %}