{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} about {% endblock title %}
{% block content %}

<div class="page-content">
        
    <!-- Inner Banner -->
    <div class="mt-bnr-inr overlay-wraper" style="background-image:url({% static  'assets/images/banner/careerimage.jpeg' %});">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="mt-bnr-inr-entry">
                <h1 class="text-white">Career</h1>
                <!-- Breadcrumb -->                            
                <ul class="mt-breadcrumb breadcrumb-style-1">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li>Career</li>
                </ul>
                
            </div>
        </div>
    </div>

    <section class="pt-5 mb-5">



    </section>


                       
</div>

{% endblock %}