{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} carres  {% endblock title %}
{% block content %}

<div class="page-content">
    <!-- Inner Banner -->
    <div class="mt-bnr-inr overlay-wraper ripples-sec"
        style="background-image:url({% static  'assets/images/banner/career-in-ship.jpg' %});">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="mt-bnr-inr-entry">
                <h1 class="text-white">Career</h1>
                <!-- Breadcrumb -->
                <ul class="mt-breadcrumb breadcrumb-style-1">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li>Career</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-full bg-gray p-t80  p-b50">
        <div class="container">
               
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!-- TITLE START-->
                        <div class="section-head text-center">
                            <h2>Job Notification</h2>
                            <div class="mt-separator-outer">
                                <div class="mt-separator site-bg-primary"></div>
                            </div>                        
                        </div>
                        <!-- TITLE END-->                            
                        <div class="section-content sx-why-choose">
                            <div class="mt-box">
                                <div class="mt-info bg-white text-left p-a20 m-b30">
                                    <h4>Ship Designer</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet odio id lectus tristique luctus. Morbi id sodales orcit.</p>
                                    <div class="carrer-details">
                                        <ul class="d-flex">
                                            <li class="post-author"><i
                                                    class="fa fa-map-marker site-text-primary"></i>&nbsp; Location</li>
                                            <li class="post-comment px-3"><i class="fa fa-usd site-text-primary"></i>&nbsp; 20k - 40k</li>
                                            <li class="post-comment px-3"><i
                                                 class="fa fa-clock-o site-text-primary"></i>&nbsp; Full Time</li>
                                                    
                                        </ul>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <a href="#" class="site-button-link site-text-primary font-weight-600">Apply</a>
                                        </div>
                                        <div>
                                            <a href="#" class="site-button-link site-text-primary font-weight-600">Read More</a>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                                                             
                        </div>                               
                    </div>                        
                                        
                </div>
            
        </div>
    </div>

    <section class="career-card-sec pb-5" style="background-color: #f7f5f5;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div>
                        <!-- <div class="section-content sx-why-choose">
                            <div class="mt-box">
                                <div class="mt-info bg-white text-left p-a20 m-b30 bg-dark">
                                    <h4>Fast Worldwide delivery</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet odio id lectus tristique luctus. Morbi id sodales orcit.</p>
                                    <div class="carrer-details">
                                        <ul class="d-flex ">
                                            <li class="post-author"><i
                                                    class="fa fa-map-marker site-text-primary"></i>&nbsp; Location</li>
                                            <li class="post-comment px-5"><i class="fa fa-usd site-text-primary"></i>&nbsp; 20k - 40k</li>
                                            <li class="post-comment px-5"><i
                                                 class="fa fa-clock-o site-text-primary"></i>&nbsp; Full Time</li>
                                                    
                                        </ul>
                                    </div>
                                    <a href="#" class="site-button-link site-text-primary font-weight-600">Read More</a>
                                 </div>
                            </div>
                            <div class="mt-box ">
                                <div class="mt-info bg-white text-left p-a20">
                                    <h4>Safety &amp; Compliance</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet odio id lectus tristique luctus. Morbi id sodales orcit.</p>
                                    <a href="#" class="site-button-link site-text-primary font-weight-600">Read More</a>
                                 </div>
                            </div>                                    
                        </div> -->
                    </div>

                    <!-- <div class="card main-card animate__animated animate__fadeInLeft">
                        <div class="card-body">                          
                        </div>
                        <div class="card-body">
                            <h3>FD</h3>
                            <div>
                                <h4>Front End Developer</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti quas reprehenderit ea unde fugiat saepe pariatur, dignissimos delectus illum, adipisci velit vitae dolores! Voluptatum perspiciatis impedit amet eligendi corporis dolore repellat! Voluptatum assumenda voluptas, sequi iusto, rerum placeat, beatae modi fugiat porro culpa necessitatibus architecto ea ex doloremque doloribus iste?</p>
                                <div class="carrer-details">
                                    <ul class="d-flex ">
                                        <li class="post-author"><i
                                                class="fa fa-map-marker site-text-primary"></i>&nbsp; Location</li>
                                        <li class="post-comment px-5"><i class="fa fa-usd site-text-primary"></i>&nbsp; 20k - 40k</li>
                                        <li class="post-comment px-5"><i
                                             class="fa fa-clock-o site-text-primary"></i>&nbsp; Full Time</li>
                                                
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2">
                                    <a href="#" class="site-button">Read More</a>
                                </div>
                                <div>
                                    <a href="#" class="site-button">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </section>

    <div class="section-full  about-video p-t130 p-b80 overlay-wraper" data-stellar-background-ratio="0.5"
        style="background-image:url(images/background/bg7.jpg);">
        <div class="overlay-main bg-secondry  opacity-09"></div>
        <div class="container text-center ">
            <div class="text-white help-section">
                <h2 class="m-b30">Notify Me</h2>
                <!-- <h4 class="m-b30"><strong>We take pride in serving our customers safely. We are hear to help you
                        out.</strong></h4> -->
                <div class="newsletter-bx m-b30 d-flex justify-content-center">
                    <form role="search" method="post">
                        <div class="input-group mx-auto">
                            <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                            &nbsp; &nbsp;
                            <span class="input-group-btn mt-1">
                                <button type="submit" class="site-button btn font-weight-600"><i
                                        class="fa fa-paper-plane"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}