{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} contact {% endblock title %}
{% block content %}

<div class="page-content">
        
    <!-- Inner Banner -->
    <div class="mt-bnr-inr overlay-wraper ripples-sec" style="background-image:url({% static  'assets/images/background/aerial-view-beautiful-white-cruise-ship-luxury-cruise-ocean-sea-early-morning-time-concept-tour.jpg' %}); background-position:center center;">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="mt-bnr-inr-entry">
                <h1 class="text-white">Contact</h1>
                <!-- Breadcrumb -->                            
                <ul class="mt-breadcrumb breadcrumb-style-1">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li>Contact</li>
                </ul>
               
            </div>
        </div>
    </div>

    <div class="section-full p-t80 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Google Map Block --> 
                    <div class="equal-col m-b30">
                        <div class="gmap-outline">
                            <div class="google-map" style="width: 100%">
                                <iframe height="460" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d175.2202181267304!2d54.36261134130834!3d24.48995315712497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e678bb97c9cb7%3A0x176259b55d4889c7!2sMillennium%20Tower!5e1!3m2!1sen!2sin!4v1722760114795!5m2!1sen!2sin"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" bg-gray-light p-a30 radius-10 cons-contact-form-wrap">
                        <div class="section-head">
                           <h2>Contact Form </h2>
                           <div class="mt-separator-outer m-b30">
                               <div class="mt-separator site-bg-primary"></div>
                           </div>
                       </div>                        
                        <div class="mt-box">
                            <form class="cons-contact-form contact-style-2" method="post" action="https://theme7x.com/fastway/form-handler.php">
                                <div class="row">
                                
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="username" type="text" required="" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="email" type="text" class="form-control" required="" placeholder="Email">
                                        </div>
    
                                    </div>
    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" rows="6" class="form-control Message" required="" placeholder="Message"></textarea>
                                        </div>
                                    </div>
    
                                    <div class="col-md-12 text-right">
                                        <button name="submit" type="submit" value="Submit" class="site-button-secondry  m-r15">Submit</button>
                                        <button name="Resat" type="reset" value="Reset" class="site-button ">Reset </button>
                                    </div>
    
                                </div>
                            </form>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>
    <div class="section-full p-t80 p-b50">
        <div class="container">
            <div class="section-head">
               <h2>Contact Detail </h2>
               <div class="mt-separator-outer m-b30">
                   <div class="mt-separator site-bg-primary"></div>
               </div>
           </div>
            <div class="row d-flex justify-content-center">
            
                <div class="col-lg-4 col-md-6">
                
                    <div class="mt-icon-box-wraper bx-style-2 m-l20 m-b30 p-a30 left bg-white">
                        <div class="mt-icon-box-xs site-bg-primary m-b20">
                            <span class="icon-cell text-white"><i class="fa fa-phone"></i></span>
                        </div>
                        <div class="icon-content" style="padding-top: 10px; padding-bottom: 10px;">
                            <h4 class="mt-tilte site-text-primary">Phone</h4>
                            <p><a href="tel:+971558819616" >+971558819616</a> &nbsp;&nbsp; <a href="tel:+971547102995" >+971547102995</a></p>
                          
                            
                           
                        </div>
                    </div>                        
                
                    
                </div>
                
                <div class="col-lg-4 col-md-6">

                    <div class="mt-icon-box-wraper bx-style-2 m-l20 m-b30 p-a30 left bg-white">
                        <div class="mt-icon-box-xs site-bg-primary m-b20">
                            <span class="icon-cell text-white"><i class="fa fa-envelope"></i></span>
                        </div>
                        <div class="icon-content" style="padding-top: 10px; padding-bottom: 10px;">
                            <h4 class="mt-tilte site-text-primary">Email</h4>
                            <p><a href="mailto:agilemarineconsultancy@gmail.com">agilemarineconsultancy@gmail.com</a> </p>
                        </div>
                    </div>                          
                    
                </div>
                
                <div class="col-lg-4 col-md-6">
                
                    <div class="mt-icon-box-wraper bx-style-2 m-l20 m-b30 p-a30 left bg-white">
                        <div class="mt-icon-box-xs site-bg-primary m-b20">
                            <span class="icon-cell text-white"><i class="fa fa-map-marker"></i></span>
                        </div>
                        <div class="icon-content ">
                            <h4 class="mt-tilte site-text-primary">Address</h4>
                            <p>#4, 4th floor, Millenium Tower,
                                Starbucks Bldg., Hamdan Street,
                                Abu Dhabi. </p>
                        </div>
                    </div> 
                    
                </div>
        
            </div>
        </div>
    </div>
    
</div>



{% endblock %}