<!-- Start work Process Area
    ============================================= -->
    <div class="work-process-area text-center default-padding-bottom ">
        <!-- Shape -->
        <div class="shape">
            <img src="{% static 'assets/img/shape/13.png' %}" alt="Shape">
        </div>
        <!-- End Shape -->
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Work Process</h4>
                        <h2>How we Works</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <div class="process-items">
                <div class="row">
                
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>01</span>
                            </div>
                            <h5>Book Online Form</h5>
                        </div>
                    </div>
                  
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>02</span>
                            </div>
                            <h5>Get expert cleaner</h5>
                        </div>
                    </div>
                    
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>03</span>
                            </div>
                            <h5>Relax & enjoy cleanin</h5>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> -->
    
        <div class="container">
            <div class="process-items">
                <div class="row">
                    <!-- Single Step -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>01</span>
                            </div>
                            <h5>Establish your growth ambitions</h5>
                            <p>A company’s growth depends on market size and meeting customer needs.</p>
                        </div>
                    </div>
                    <!-- End Single Step -->
        
                    <!-- Single Step -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>02</span>
                            </div>
                            <h5>Conduct market and industry research</h5>
                            <p>Market analysis and industry research for audience needs and company solutions.</p>
                        </div>
                    </div>
                    <!-- End Single Step -->
        
                    <!-- Single Step -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>03</span>
                            </div>
                            <h5>Create a plan</h5>
                            <p>Growing your business is challenging. It requires trial and error to find effective strategies.</p>
                        </div>
                    </div>
                    <!-- End Single Step -->
        
                    <!-- Single Step -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>04</span>
                            </div>
                            <h5>Define your key indicators</h5>
                            <p>Growing your business requires trial and error to find effective strategies.</p>
                        </div>
                    </div>
                    <!-- End Single Step -->
        
                    <!-- Single Step -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>05</span>
                            </div>
                            <h5>Focus on your strengths</h5>
                            <p>Focus on your strengths and make sure everything you do reflects those strengths.</p>
                        </div>
                    </div>
                    <!-- End Single Step -->
        
                    <!-- Single Step -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>06</span>
                            </div>
                            <h5>Invest in talent</h5>
                            <p>Investing in talent is key for any company. Empower your talented people and see the benefits for all.</p>
                        </div>
                    </div>
                    <!-- End Single Step -->
        
                    <!-- Single Step -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                <span>07</span>
                            </div>
                            <h5>Execute your plan</h5>
                            <p>You have a goal, and you have a plan to reach it. Now go out and execute!</p>
                        </div>
                    </div>
                    <!-- End Single Step -->
                </div>
            </div>
        </div>
        
    </div>
    <!-- End Process Area -->