{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<div class="breadcrumb-area text-center sub-page-ali shadow dark text-light bg-cover" style="background-image: url(../../static/assets/img/about/sub-page.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Naval Architecture Services</h1>
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Naval Architecture Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<div class="services-details-area default-padding">
    <div class="container">
        <div class="services-details-items">
            <div class="row">
                
                <div class="col-lg-8 services-single-content">
                    <div class="thumb">
                        <img src="{% static 'assets/img/backgrounds/naval-arch.png' %}" alt="Thumb">
                    </div>
                    <h2>Comprehensive Naval Architecture Services</h2>
                    <p>
                        At Agile Marine Consultancy, we deliver innovative and tailored maritime solutions designed to meet the complex needs of the industry. With deep expertise and a client-centric approach, we’re here to help and  optimize their operations with precision and efficiency.
                    </p>
                    <p>Our Naval Architecture services are at the core of what we do. Whether you're involved in designing new vessels, retrofitting existing ones, or ensuring compliance with international regulations, our team of experts is equipped to provide best-in-class support throughout every stage of your project.</p>
                    <div class="features">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="content">
                                    <h4>Key Features of Our Naval Architecture Services:</h4>
                                    <p><strong>Basic & Advanced Ship Design:</strong> From concept to execution, we specialize in designing all types of ships, including cargo vessels, fishing boats, luxurious yachts, and tankers. Every design factor—from hydrodynamics to structural integrity—is carefully considered to ensure safety, efficiency, and reliability. </p>
                                    <p><strong>Performance Optimization:</strong> Are you looking to enhance the operational efficiency of your fleet? We provide advanced hull optimization and propulsion systems analysis to minimize resistance, maximize performance, and reduce fuel consumption.</p>
                                    <p><strong>3D Modeling and Production Drawings:</strong> We create detailed 3D models and production drawings to bring your designs to life. These models provide a clear visualization of the project, ensuring seamless collaboration between design and on-site construction teams. </p>
                                    <P><strong>Vessel Modifications & Repairs:</strong> Whether it's adapting existing ships for new roles or repairing damaged vessels, our experienced naval architects can deliver cost-effective, innovative solutions to extend the life span of your assets.  </P>
                                    <P><strong>Green Technology Implementation:</strong> We are strong advocates for sustainable shipping. Our naval architects work closely with clients to incorporate eco-friendly technologies, such as energy-efficient designs and alternative fuel systems, into your projects.  </P>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                   
                    <div class="features services-more">
                        <h2>Why Choose Agile Marine for Naval Architecture? </h2>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="content">
                                   
                                    <p><strong>Experience:</strong>  Our seasoned professionals bring decades of experience in designing and optimizing a vast range of vessel types.  </p>
                                    <p><strong>Cutting-edge Tools:</strong> We utilize state-of-the-art technology, including simulation software and 3D CAD programs, to ensure accuracy and precision</p>
                                    <p><strong>Regulatory Expertise: </strong>Compliance isn’t just a box to check—it’s vital for operational success in the maritime world. We ensure your designs meet all international and local regulations, whether related to IMO, SOLAS, or other governing bodies.   </p>
                                    <P><strong>Tailored Solutions:</strong> Every client’s needs are unique, so we develop customized approaches to meet your specific project goals and challenges.</P>
                                    
                                   
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 services-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget services-list">
                        <h4 class="widget-title">Services List</h4>
                        <div class="content">
                            <ul>
                                <li class="current-item"><a href="#">Naval Architecture Services</a></li>
                                <li><a href="#">Project Management</a></li>
                                <li><a href="#">Ship Design and Optimization</a></li>
                                <li><a href="#">Modification and Repairs</a></li>
                                <li><a href="#">Surveys and Inspections</a></li>
                                <li><a href="#">Green Technology and Sustainable Shipping</a></li>
                                <li><a href="#">Ballast Water Treatment</a></li>
                                <li><a href="#">Production Drawings and 3D Twin Models</a></li>
                                <li><a href="#">Comprehensive Regulatory Compliance Documentation</a></li>
                               
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                    <div class="single-widget quick-contact text-light" style="background-image: url(assets/img/thumb/7.jpg);">
                        <div class="content">
                            <i class="fas fa-phone"></i>
                            <h4>Need any help?</h4>
                            <p>
                                We are here to help our customer any time. You can call on 24/7 To Answer Your Question.
                            </p>
                            <h2>(012) 6679545</h2>
                        </div>
                    </div>
                    <!-- Single Widget -->
                    <div class="single-widget brochure">
                        <h4 class="widget-title">Brochure</h4>
                        <ul>
                            <li><a href="#"><i class="fas fa-file-pdf"></i> Download Brochure </a></li>
                            <li><a href="#"><i class="fas fa-file-pdf"></i> Company Details </a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}