{% extends 'uifiles/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'assets/img/2440x1578.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Our Services</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

   
       <!-- Start Services Area 
    ============================================= -->
    <div class="services-style-four-area default-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>What we do</h4>
                        <h2>Our Most Popular <br> Plumbing Services For You</h2>
                        <div class="devider"></div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id tenetur temporibus, distinctio iste recusandae magni provident nam fuga perferendis molestiae et hic non expedita eos velit maxime libero quos? Et.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/img/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="./services-details.html">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/ mg/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/img/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/img/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/img/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/img/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/ img/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/ img/shape/brush.png' %});"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="services-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                            <i class="fas fa-sink"></i>
                            <div class="shape" style="background-image: url({% static 'assets/ img/shape/brush.png);"></div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Kitchen Plumbing</a></h4>
                            <p>
                                Continue indulged speaking the man horrible for domestic position. Seeing rather her you not esteem men settle.
                            </p>
                            <a class="btn-common" href="#">View Details</a>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>
    <!-- End Services Area -->

    {% endblock %}